<footer>
  <p> <br>Städfirma/Städföretag för städning & städhjälp för hem & företag med högkvalité i Stockholm <br>
  2015 Inca Städ i Stockholm. Alla rättigheter reserverade</p>
</footer>

<section class="over">
  <a href="#over"> <span class="icon-airplanemode-on"></span></a>.
</section>