<section class="contenido">
  <section class="slides_main">
    <article class="slides">
      <div>
        <h1>Slipp jobbiga sysslor.<br />Låt oss städa ditt hem.</h1>
        <img src="/imagenes/slide1.jpg" alt="Slipp jobbiga sysslor. Låt oss städa ditt hem.">
      </div>
      <div>
        <h1>Anpassad tjänsten.<br />Alltid Samma medarbetare <br />hos dig varje gång.</h1>
        <img src="/imagenes/slide2.jpg" alt="Anpassad tjänsten. Alltid Samma medarbetare hos dig varje gång.">
      </div>
      <div>
        <h1>Vi är flexibla och öppna <br />för dina önskemål.</h1>
        <img src="/imagenes/slide3.jpg" alt="Vi är flexibla och öppna för dina önskemål.">
      </div>      
    </article>
  </section>
  <section class="section">
    <h1 class="section_title">Välkommen att bli kund hos Inca Städ</h1>    
    <article class="columns">
      <h2><strong>Lång erfarenhet</strong></h2>
      <p>Inca Städ erbjuder hushållsnära tjänster i Stockholm samt i innerstan.
        Vi har samlat kunskap och erfarenhet med hjälp av nyckelpersoner i branschen med mångårig erfarenhet under ett och samma tak. Inca Städ är ett tryggt och säkert val för dig som vill ha hjälp med städning och andra hushållsnära tjänster.
        Vi arbetar med egenkontroller och utför kvalitetskontroller löpande. Du har alltid direkt kontakt med en arbetsledare utan ”mellanhänder” och vet alltid var du ska vända dig med frågor eller synpunkter. Inca Städ arbetar ständigt med att utveckla och utbilda vår personal och hålla oss uppdaterade på miljöutveckling och branschnyheter.</p>
    </article>
    <article class="columns">
      <h2><strong>Stor kapacitet</strong></h2>
      <p>Som städföretag är Inca Städ flexibel och kompetent. Vi är till storlek en ganska liten städfirma, men sett
        till kompetens i samma liga, om inte högre, som storföretagen. Denna kombination ger dig som kund hos oss bara fördelar. Vi utformar våra städtjänster i samråd med dig, på det vis du önskar och med din bekväma vardag i åtanke. Flexibiliteten hos oss på Inca Städ kan ett stort städföretag sällan matcha, samtidigt blir kontakten mellan dig och oss personlig och tillitsfull.</p>      
    </article>    
    <article class="columns">
      <h2><strong>Fokus på nöjda kunder</strong></h2>
      <p>Vårt motto är "Du bestämmer, vi gör jobbet", vilket innebär att du väljer exakt vilka tjänster du eller ditt 
        företag behöver så ser vi till att resultatet blir lika bra varje gång. Våra tjänster innefattar det mesta inom lokalvård och hushållsnära tjänster. Priserna är mycket konkurrenskraftiga.
        Bland annat erbjuder vi flyttstädning med garanti. Det tar mycket tid att flytta och städning av den gamla bostaden är det sista du vill ägna dig åt. Anlita därför oss så tar vi hand om flyttstädningen åt dig. Vi kontakta då köparen som får godkänna och kvittera städningen. Vid problem kontaktar köparen oss istället för säljare eller mäklare!
        Driver du ett företag i Stockholm och är i behov av regelbundet återkommande städning, som exempelvis kontorsstädning eller fönsterputsning, kommer vi ut och tittar på lokalerna för att bedöma tidsåtgång och återkommer sedan med en kostnadsfri offert.
        Av oss får du alltid välja precis de tjänster du behöver och får alltid samma höga servicenivå, oavsett storleken på uppdraget eller om det handlar om återkommande städning. Du kan alltid känna dig säker på att vi alltid levererar ett bra resultat. Skulle du mot förmodan upptäcka brister i städningen åtgärdar vi det.</p>
    </article>
  </section>
  <section class="kontaktaoss">
    <h1>Vi ser fram emot att göra dig nöjd!</h1>
    <article>
      <form action="https://formsubmit.co/incastad@hotmail.com" name="kontaktaoss" method="post">
        <label for="namn">Namn</label>
        <input type="text" name="namn" id="namn" placeholder="Namn" required>
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" placeholder="e-mail" required>
        <label for="tjanster">Tjänster</label>
        <select id="tjanster" name="tjanster" required>
          <option value="" selected="selected">Välj</option>
          <option value="hemstadning">Hemstädning</option>
          <option value="storstadning">Storstädning</option>
          <option value="flyttstadning">Flyttstädning</option>
          <option value="byggstadning">Byggstädning</option>
          <option value="visningsstadning">Visningsstädning</option>
          <option value="fönsterputsning">Fönsterputsning</option>
          <option value="kontorsstadning">Kontorsstädning</option>
          <option value="butiksstadning">Butiksstädning</option>
          <option value="trappstadning">Trappstädning</option>   
          <option value="fonsterputsning">Fönsterputsning</option>                                   
        </select>
        <label for="bostadstyp">Bostadstyp</label>
        <select id="bostadstyp" name="bostadstyp" required>
          <option value="" selected="selected">Välj</option>
          <option value="lagenhet">Lägenhet</option>
          <option value="villaradhus">Villa/Radhus</option>
          <option value="Kontor">Kontor</option>
          <option value="annat">Annat</option>
        </select>        
        <label for="telefon">Telefon</label>
        <input type="tel" name="telefon" id="telefon" placeholder="Ange din nummer Telefon" required>
        <label for="antalkvm">Antal kvm</label>
        <input type="number" name="antalkvm" id="antalkvm" placeholder="Antal kvm" min="1" max="9999" required>
        <label for="meddelande">Meddelande<span class="required">*</span></label>
        <textarea id="meddelande" name="meddelande" placeholder="Ange din meddelande" required></textarea>
        <input type="submit" id="skicka" value="Skicka" required>
        <!-- <input type="submit" name="skicka" id="skicka" value="Skicka" required> -->
        <!-- API PARA ENVIAR CORREOS-->
        <input type="hidden" name="_next" value="https://incastad.ddns.net">
        <input type="hidden" name="_captcha" value="false">
        <!-- API PARA ENVIAR CORREOS-->
      </form>
    </article>
    <article class="adress">
      <h2>Kontakta oss</h2>
      <p>Har du en fråga gällande företaget och våra tjänster eller vill du ha en offert? För att vi på ett snabbt och 
        enkelt sätt ska kunna ge dig hjälp kan du fylla i dina uppgifter nedan. Vi behandlar ditt mail och återkommer så fort vi kan med uppgifter.</p>     
      <p>
        Adress  : <span>xxxxxxxxxxxxxx</span><br>
        Movil   : <span>0123456789</span><br>
        E-mail  : <span>incastad@hotmail.com</span><br>
      </p>
    </article>
    <article class="mapa">
      <!--solo quitar los cuatro nueves y saldra la direccion correcta -->
      <iframe src="https://www.google.com/maps/embed?pb=!99991m18!1m12!1m3!1d2043.0338408244218!2d17.6074638!3d59.19873210000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f12824bcf8ecb%3A0x8e34dfcb38d6dffa!2sKarlslundsgatan+30%2C+151+63+S%C3%B6dert%C3%A4lje%2C+Suecia!5e0!3m2!1ses!2sse!4v1428018198754" frameborder="0" style="border:0">
      </iframe>
    </article>
  </section>
</section>


