<header>
  <div class="kontaktsup"> 
    <div class="logo">
     
     <a name="over"></a>  <!--ancla-->
     <a href="/" title="Home">
        <img src="/imagenes/incastad.jpg" alt="Ina Städ - bästa städfirma i Stockholm">
      </a>
    </div>
    <div class="kontakt">
      <div id="ring_oss">
        <a href="tel:+46738923004"><span class="icon-phone2"></span>073XXXXXXX</a>
      </div>
      <div id="maila_oss">
        <a href="mailto:incastad@hotmail.com" target="_blank"><span class="icon-mail"></span>incastad@hotmail.com</a>
      </div>
      <div id="facebook">
        <a href="https://www.facebook.com/profile.php?id=100004405279177" target="_blank"><span class="icon-facebook3"></span>Facebook</a>
      </div>
      <div id="twitter">
        <a href="#"><span class="icon-twitter2"></span>Twitter</a>
      </div>            
    </div>
  </div>
  <div class="main_bar">
    <a href="#"class="bt-main"><span class="icon-list"></span>Main</a>
  </div>
</header>
 
