<nav>
  <ul>
    <li><a href="/"><span class="icon-house"></span>Hem</a></li>
    <li><a href="/menus/omoss"><span class="icon-vcard"></span>Om Oss</a></li>
    <li class="sub_main">
      <a href="#"><span class="icon-user3"></span>Privat<span class="caret icon-arrow-down6"></span></a>
      <ul class="children">
        <li><a href="/menus/hemstadning">Hemstädning <span class="icon-house"></span></a></li>
        <li><a href="/menus/storstadning">Storstädning <span class="icon-office"></span></a></li>
        <li><a href="/menus/flyttstadning">Flyttstädning <span class="icon-truck"></span></a></li>
        <!--<li><a href="#">Byggstädning <span class="icon-hammer"></span></a></li> para despues --> 
        <li><a href="/menus/visningsstadning">Visningsstädning <span class="icon-quill"></span></a></li>
        <li><a href="/menus/fonsterputsning">Fönsterputsning <span class="icon-paint-format"></span></a></li>
      </ul>
    </li>
    <li class="sub_main">
      <a href="#"><span class="icon-suitcase"></span>Företag<span class="caret icon-arrow-down6"></span></a>
      <ul class="children">
        <li><a href="/menus/kontorsstadning">Kontorsstädning <span class="icon-printer"></span></a></li>
        <!--<li><a href="#">Butiksstädning <span class="icon-gift"></span></a></li></li>-->
        <li><a href="/menus/trappstadning">Trappstädning <span class="icon-insert-template"></span></a></li>
        <li><a href="/menus/flyttstadningforetag">Flyttstädning <span class="icon-truck"></span></a></li>
        <li><a href="/menus/fonsterputsningforetag">Fönsterputsning <span class="icon-paint-format"></span></a></li>
      </ul>
    </li>    
    <li><a href="/menus/priser"><span class="icon-cart"></span>Priser</a></li>
    <li><a href="/menus/kontaktaoss"><span class="icon-pencil"></span>Kontakta Oss</a></li>
  </ul>
</nav>
<script>
    /** If the class "disablemain" does not exist in "dsb_sidebar" it creates it */
    /*$(".sub_main").on("click",(e) => { 
      $(".sub_main").removeClass("children");
      $(this).addClass("children");
    });*/

    /*if (document.querySelector(".sub_main.children")) {
      $(".sub_main").removeClass("children");
      $(".sub_main").addClass("children");
    }*/
</script>