<%- include('../../partials/head'); %>
<%- include('../../partials/hometitle'); %>
<%- include('../../partials/navbar'); %>
<article>
<article>
    <h1 class="section_title">Flyttstädning företag</h1>
</article>

<article class="img-stadning">
	<img src="/imagenes/flyttstadningforetag.jpg" alt="Inca Städ. Flyttstädning företag">
</article>

<article class="columns">
    <p><br>Efter att alla saker är packade och flyttade till nya lokaler är det dags för flyttstädning. Istället för att kasta bort dyrbar tid på Er gamla lokal så är det bättre att vi som är proffs tar på oss ansvaret för att lokalen ska gå igenom alla de krav en hyresvärd kräver vid utflytt. Sen kan ni fokusera på Er nya lokal och allt som ska göras i ordning där.<br><br></p>

    <h2><strong>Så fungerar vår flyttstädning företag:</strong></h2>

    <p>Boka din flyttstädning så långt i förväg som möjligt, för att garantera att vi kan hjälpa till vid det aktuella datumet.<br><br>
    
    Inca Städ skickar alltid ut en orderbekräftelse där namn, adress, dag, tid och pris framgår. Detta eliminerar risken för missuppfattningar. Du kan vara säkra på att uppdraget blir utfört den tid och dag som du beställt.<br><br>

    Vi kontaktar alltid dig eller den person som ska besiktiga jobbet en timme innan arbetet är slutfört. Eventuella brister åtgärdas omedelbart.<br><br>

    Om ingen kan vara på plats då vi ska utföra jobbet kan vi komma och hämta nycklar. Det går även bra att lämna in nycklarna till oss. Vi ombesörjer också att nycklarna återlämnas när vi är färdiga.<br><br>

    Fönsterputsning, framkörningsavgifter och materialkostnader samt moms ingår alltid i avtalat pris. Inga dolda kostnader tillkommer.<br><br></p>    
</article>
<section class="section-acordeon">
    <h2><strong>Detta ingår i flyttstädning företag :</strong></h2>
	<div>
		<input id="radio1" type="radio" name="acordeon" value="kokrengspis" />
		<label for="radio1">KÖK, RENGÖRING AV SPIS</label>
		<div class="texto">
			<p> <span class="icon-checkmark"></span> Ovan- och framsida.<br>
				<span class="icon-checkmark"></span> Kokplattor med kanter.<br>
				<span class="icon-checkmark"></span> Ugn, värmeskåp samt inbyggd mikrovågsugn.<br>
				<span class="icon-checkmark"></span> Ugnslucka med glas, mellan om ej skruvat.<br>
				<span class="icon-checkmark"></span> Plåtar och galler.<br>
				<span class="icon-checkmark"></span> Rengör golv och väggar om spisen är framdragen.<br><br></p>
		</div>
	</div>
	<div>
		<input id="radio2" type="radio" name="acordeon" value="kokventvit" />
		<label for="radio2">KÖK, VENTILATION OCH VITVAROR</label>
		<div class="texto">
			<p>	<span class="icon-checkmark"></span> Spisfläkt med kåpa.<br>
    			Kyl, frys och diskmaskin in- och utsida.<br><br></p>
		</div>
	</div>
	<div>
		<input id="radio3" type="radio" name="acordeon" value="kokovrigt" />
		<label for="radio3">KÖK, ÖVRIGT</label>
		<div class="texto">
			<p>	<span class="icon-checkmark"></span> Avtorkning av skåp och luckor in- och utvändigt.<br>
    			<span class="icon-checkmark"></span> Avtorkning av kakel samt kryddhylla.<br>
    			<span class="icon-checkmark"></span> Avtorkning av diskbänk, vask och skärbräda.<br>
   				<span class="icon-checkmark"></span> Rengöring av snickerier.<br>
    			<span class="icon-checkmark"></span> Rengöring av element, även bakom.<br>
    			<span class="icon-checkmark"></span> Avtorkning av dörrar på alla sidor.<br>
    			<span class="icon-checkmark"></span> Avtorkning av alla hyllplan i samtliga skåp.<br>
    			<span class="icon-checkmark"></span> Rengöring av eluttag och belysningskontakter.<br>
    			<span class="icon-checkmark"></span> Rengöring av fixarmatur.<br>
    			<span class="icon-checkmark"></span> Damning av väggar och tak.<br>
    			<span class="icon-checkmark"></span> Dammsugning.<br>
    			<span class="icon-checkmark"></span> Rengöring av golv.<br><br></p>
		</div>
	</div>
	<div>
		<input id="radio4" type="radio" name="acordeon" value="toabadrum" />
		<label for="radio4">TOALETT OCH BADRUM</label>
		<div class="texto">
			<p>	<span class="icon-checkmark"></span> Damning samt dammsugning av golv.<br>
    			<span class="icon-checkmark"></span> Rengöring av sanitära enheter.<br>
    			<span class="icon-checkmark"></span> Rengör ing av badkar, in- och utvändigt.<br>
    			<span class="icon-checkmark"></span> Rengöring av duschkabin.<br>
    			<span class="icon-checkmark"></span> Rensning av golvgrunn.<br>
    			<span class="icon-checkmark"></span> Rengöring av tvättmaskin, tvättmedelsfack.<br>
    			<span class="icon-checkmark"></span> Rengöring av torktumlare, filter och dörr.<br>
    			<span class="icon-checkmark"></span> Rengöring av väggar och kakel.<br>
    			<span class="icon-checkmark"></span> Rengöring av speglar och badrumsskåp.<br>
    			<span class="icon-checkmark"></span> Rengöring av armaturer.<br>
    			<span class="icon-checkmark"></span> Avtorkning av dörrar och lister.<br>
    			<span class="icon-checkmark"></span> Våttorkning av golv.<br>
    			<span class="icon-checkmark"></span> Rengöring av vattenlås till tvättställ.<br>
    			<span class="icon-checkmark"></span> Rengöring av golvgaller.<br><br></p>
		</div>
	</div>
	<div>
		<input id="radio5" type="radio" name="acordeon" value="vardgssovrumtoa" />
		<label for="radio5">VARDAGSRUM, SOVRUM OCH HALL</label>
		<div class="texto">
			<p>	<span class="icon-checkmark"></span> Dammrengöring av väggar och tak.<br>
    			<span class="icon-checkmark"></span> Rengöring av element, även bakom.<br>
    			<span class="icon-checkmark"></span> Avtorkning av skåp och garderober.<br>
    			<span class="icon-checkmark"></span> Avtorkning av alla hyllplan i skåp.<br>
    			<span class="icon-checkmark"></span> Rengöring av snickerier.<br>
    			<span class="icon-checkmark"></span> Torkning av dörrar och lister.<br>
    			<span class="icon-checkmark"></span> Rengöring av eluttag och belysningskontakter.<br>
    			<span class="icon-checkmark"></span> Rengöring av armaturer.<br>
    			<span class="icon-checkmark"></span> Dammsugning.<br>
    			<span class="icon-checkmark"></span> Rengöring av golv.<br><br></p>
		</div>
	</div>
	<div>
		<input id="radio6" type="radio" name="acordeon" value="fontersamtutry" />
		<label for="radio6">FÖNSTERRENGÖRING I SAMTLIGA UTRYMMEN</label>
		<div class="texto">
			<p>	<span class="icon-checkmark"></span> Rengöring av snickerier runt fönster.<br>
    			<span class="icon-checkmark"></span> Rengöring av fönsterkarmar in- och utsida.<br>
    			<span class="icon-checkmark"></span> Rengöring mellan fönster.<br>
    			<span class="icon-checkmark"></span> Putsning av fönster.<br><br></p>
		</div>
	</div>
	<div>
		<input id="radio7" type="radio" name="acordeon" value="tankte" />
		<label for="radio7">TÄNK PÅ DETTA INNAN VI BESÖKER DIG</label>
		<div class="texto">
			<p>	<span class="icon-checkmark"></span> Rapportera befintliga skador innan städningen påbörjas, exempelvis repade glas och fönster som är behäftade med fel avseende låsvred, persienner etc.<br>
				<span class="icon-checkmark"></span> Dra fram spisen om rengöring bakom spisen önskas.<br>
    			<span class="icon-checkmark"></span> Löstagbar badkarsfront tas bort och sätts tillbaks av kunden. Vi rengör den, samt under badkar.<br>
    			<span class="icon-checkmark"></span> Filter i köksfläkt byts ut eller rengörs av kunden själv.<br>
    			<span class="icon-checkmark"></span> Fönsternycklar ska finnas tillgängliga så att flerglasfönster kan öppnas och stängas.<br>
    			<span class="icon-checkmark"></span> Kyl och frys ska vara avfrostade vid städtillfället.<br>
    			<span class="icon-checkmark"></span> Tänk på att kolla igenom lådor och skåp så de är tömda.<br><br>
		</div>
	</div>	
	<div>
		<input id="radio8" type="radio" name="acordeon" value="stadmaterial" />
		<label for="radio8">STÄDMATERIAL INGÅR - OM DU VILL</label>
		<div class="texto">
			<p>	Vill ni använda eget städmaterial eller ska vi ordna det? Vi är lyhörda för era behov och kan, om du önskar det, tillhandahålla golvmopp, rengöringsdukar, rengöringsmedel, dammsugare och engångsmaterial. Säg till vad du önskar så ordnar vi det.<br><br></p>
		</div>
	</div>			
	<div>
		<input id="radio9" type="radio" name="acordeon" value="lagapriser" />
		<label for="radio9">ALLTID LÅGA PRISER</label>
		<div class="texto">
			<p>	Flyttstädning priser beror på antal kvm. Vi levererar alltid bra kvalitetsstädning, vilket för oss innebär att göra individuella bedömningar för att hitta den mest kostnadseffektiva och bästa lösningen för dig som kund.<br><br></p>
		</div>
	</div>
</section>
<%- include('../../partials/footer'); %>