<%- include('../../partials/head'); %>
<%- include('../../partials/hometitle'); %>
<%- include('../../partials/navbar'); %>
<article>
    <h1 class="section_title">Fönsterputsning</h1>
</article>

<article class="img-stadning">
	<img src="/imagenes/fonsterputsning.jpg" alt="Inca Städ. Fönsterputsning">
</article>

<article class="columns">
    <p><br>Vad är bättre än rena och nyputsade fönsterrutor när solen tittar fram? Det är svårslaget tycker vi. Genom vår professionella tjänst för fönsterputsning kan du ägna dig åt dina favoritsysselsättningar medan vi gör dina fönster riktigt blanka och skinande rena.<br><br></p>

    <h2><strong>Så fungerar vår fönsterputsning :</strong></h2>
    
    <p>1. Du anger antal fönster och fönstertyp för att få ett korrekt pris. Fönster med spröjs och många små rutor är mer tidskrävande än stora fönsterpartier.<br><br>

    2. Vänligen meddela oss om arbetshöjden på era fönster är mer än 2,5 meter.<br><br>

    3. Vi bestämmer tid för att överlämna nyckel.<br><br>

    4. Vi tillhandahåller all utrustning och material.<br><br></p>
</article>
<section class="section-acordeon">
    <h2><strong>Detta ingår i fönsterputsning :</strong></h2>
	<div>
		<input id="radio1" type="radio" name="acordeon" value="tankte" />
		<label for="radio1">TÄNK PÅ DETTA INNAN VI BESÖKER DIG</label>
		<div class="texto">
			<p>	<span class="icon-checkmark"></span> Rapportera befintliga skador innan städningen påbörjas, exempelvis repade glas och fönster som är behäftade med fel avseende låsvred, persienner etc.<br>
				<span class="icon-checkmark"></span> Plocka undan saker som kan vara i vägen för fönsterputsning, t ex gardiner, blomkrukor eller prydnadsföremål.<br>
				<span class="icon-checkmark"></span> Fönstret måste vara tillgängligt för fönsterputsaren, detta innebär att större möbler måste flyttas eller motsvarande om de är i vägen innan fönsterputsaren kommer.<br>
				<span class="icon-checkmark"></span> Tvätt av fönsterkarmar ingår inte i ordinarie fönsterputsning men går att beställa till.<br><br>
		</div>
	</div>
	<div>
		<input id="radio2" type="radio" name="acordeon" value="lagapriser" />
		<label for="radio2">ALLTID LÅGA PRISER</label>
		<div class="texto">
			<p>	Fönsterputsning priser beror på antal fönster. Vi levererar alltid bra kvalitetsstädning, vilket för oss innebär att göra individuella bedömningar för att hitta den mest kostnadseffektiva och bästa lösningen för dig som kund.<br><br></p>
		</div>
	</div>	
	<div>
		<input id="radio3" type="radio" name="acordeon" value="rutavdrag" />
		<label for="radio3">RUT-AVDRAG</label>
		<div class="texto">
			<p>	Tjänsten fönsterputsning ingår i skattereduktionen för hushållsnära tjänster så du betalar bara 50% av kostnaden, direkt på fakturan. Läs mer om RUT och RUT-avdrag <a href="https://www.skatteverket.se/privat/skatter/arbeteinkomst/formaner/husarbete.4.18e1b10334ebe8bc80005384.html" target="_blank" rel="external"><strong>skatteverket.se</strong></a></p>
		</div>
	</div>
</section>
<%- include('../../partials/footer'); %>