<%- include('../../partials/head'); %>
<%- include('../../partials/hometitle'); %>
<%- include('../../partials/navbar'); %>
<article>
    <h1 class="section_title">Hemstädning</h1>
</article>

<article class="img-stadning">
	<img src="/imagenes/hemstadning.jpg" alt="Inca Städ. Hemstädning">
</article>

<article class="columns">
    <h2><br><strong>Så fungerar vår hemstädning :</strong></h2>
    <p>1. Vi gör ett kostnadsfritt hembesök där vi går husesyn och diskuterar dina önskemål och prioriteringar. Därefter presenterar vi vår avtalstext och föreslår en städrutin som passar dig.<br><br>

    2. Vi utför en provstädning som betalas per timme. Tidsåtgången beror på vad som ska utföras enligt överenskommelsen vid hembesöket. Efter provstädstädningen diskuterar vi resultatet och tidsåtgången.<br><br>

    3. Då vi skriver avtal försöker vi i möjligaste mån tillgodose dina önskemål om städdag.<br><br>

    4. Tjänsten faktureras vanligtvis via e-post den 15:e varje månad. Fakturan har förfallodatum vid slutet av månaden.<br><br>

	Städmaterial fyller vi på vid behov. Observera att städmaterialet faktureras separat och inte är skattereduktionsberättigat.<br><br></p>
</article>
<section class="section-acordeon">
    <h2><strong>Detta ingår i hemstädningen :</strong></h2>
	<div>
		<input id="radio1" type="radio" name="acordeon" value="rum" />
		<label for="radio1">STÄDNING AV SAMTLIGA RUM</label>
		<div class="texto">
			<p> <span class="icon-checkmark"></span> Spegelputsning<br>
				<span class="icon-checkmark"></span> Dammsugning av golv, lister, kontakter, element, mattor samt stoppade och klädda möbler.<br>
				<span class="icon-checkmark"></span> Dammtorkning av fönsterbrädor och alla fria ytor.<br>
				<span class="icon-checkmark"></span> Borttagning av fläckar på dörrar och karmar.<br>
				<span class="icon-checkmark"></span> Golven fuktmoppas, eller enligt överenskommelse med er<br>
				<span class="icon-checkmark"></span> Tömning av papperskorgar.<br>
				<span class="icon-checkmark"></span> Tavelramar och hängande väggdekorationer i ståhöjd dammas av.<br>
				<span class="icon-checkmark"></span> Lampskärmar i arbetshöjd dammas av.<br><br></p>
		</div>
	</div>
	<div>
		<input id="radio2" type="radio" name="acordeon" value="toaletter" />
		<label for="radio2">RENGÖRING AV TOALETTER OCH BADRUM</label>
		<div class="texto">
			<p>	<span class="icon-checkmark"></span> Spegelputsning.<br>
				<span class="icon-checkmark"></span> Torkning av fläckar på badrumsskåp och vitvaror.<br>
				<span class="icon-checkmark"></span> Dusch, badkar, handfat och toalett rengöres.<br>
				<span class="icon-checkmark"></span> Torkning av fläckar från väggar.<br>
				<span class="icon-checkmark"></span> Duschväggar avtorkas.<br><br></p>
		</div>
	</div>
	<div>
		<input id="radio3" type="radio" name="acordeon" value="kok" />
		<label for="radio3">STÄDNING AV KÖK</label>
		<div class="texto">
			<p>	<span class="icon-checkmark"></span> Invändig rengöring av microvågsugn.<br>
				<span class="icon-checkmark"></span> In- och utvändig rengöring av utrymme där sopor förvaras.<br>
				<span class="icon-checkmark"></span> Köksbänk, diskbänk, spis och kakelvägg rengörs.<br>
				<span class="icon-checkmark"></span> Avtorkning av fläckar på fläkt, köksluckor och utsidan av vitvaror.<br><br></p>
		</div>
	</div>
	<div>
		<input id="radio4" type="radio" name="acordeon" value="stadmaterial" />
		<label for="radio4">STÄDMATERIAL</label>
		<div class="texto">
			<p>	Städredskap som vi rekommenderar :<br>
				<span class="icon-checkmark"></span> Dammsugare & Dammsugarpåsar.<br>
				<span class="icon-checkmark"></span> Golvmopp & Hink (en extra hink behövs).<br>
				<span class="icon-checkmark"></span> Disktrasor.<br>
				<span class="icon-checkmark"></span> Mikrofibertrasor 3-5 st.<br>
				<span class="icon-checkmark"></span> Skrubbsvampar.<br>
				<span class="icon-checkmark"></span> Toalettborste.<br>
				<span class="icon-checkmark"></span> Diskborstar.<br>
				<span class="icon-checkmark"></span> Stålull t.ex. (Svinto).<br>
				<span class="icon-checkmark"></span> Hushållspapper.<br><br>
				Rengöringsmedel som vi rekommenderar :<br>
				<span class="icon-checkmark"></span> Allrengöringsmedel.<br>
				<span class="icon-checkmark"></span> Golvsåpa.<br>
				<span class="icon-checkmark"></span> Diskmedel.<br>
				<span class="icon-checkmark"></span> Skrubbkräm.ex. Gif eller Cif.<br>
				<span class="icon-checkmark"></span> Toalettrengöring.ex. WC-anka.<br>
				<span class="icon-checkmark"></span> Fettlösande rengöringsmedel för kök.ex. Ajax.<br>
				<span class="icon-checkmark"></span> Kalklösande medel för badrum & toalett.<br>
				<span class="icon-checkmark"></span> Fönsterputsspray för glas och spegelytor.<br>
				<span class="icon-checkmark"></span> Stensåpa (vid behov).<br><br>
				Vi föredrar att du köper städmedel i sprayflaskor.<br><br></p>												
		</div>
	</div>	
	<div>
		<input id="radio5" type="radio" name="acordeon" value="tankte" />
		<label for="radio5">TÄNK PÅ DETTA INNAN VI BESÖKER DIG</label>
		<div class="texto">
			<p>	<span class="icon-checkmark"></span> För bästa resultat, se till att dammsugare och övriga redskap är i bra skick.<br>
				<span class="icon-checkmark"></span> Om tid finns, plocka gärna undan leksaker, disk och kläder så blir vi mer effektiva i ditt hem.<br>
				<span class="icon-checkmark"></span> Se till att samtliga rengöringsmedel finns hemma enligt den listan ni erhåller i samband med hembesök. Du kan också ladda ner listan <a href="/pdf/Incastad_hemstadning_stadutrustning.pdf" target="_blank"><strong>här</strong></a>..<br><br></p>
		</div>
	</div>
	<div>
		<input id="radio6" type="radio" name="acordeon" value="lagapriser" />
		<label for="radio6">ALLTID LÅGA PRISER</label>
		<div class="texto">
			<p>	Hemstädning priser beror på antal timmar. Vi levererar alltid bra kvalitetsstädning, vilket för oss innebär att göra individuella bedömningar för att hitta den mest kostnadseffektiva och bästa lösningen för dig som kund.<br><br></p>
		</div>
	</div>	
	<div>
		<input id="radio7" type="radio" name="acordeon" value="rutavdrag" />
		<label for="radio7">RUT-AVDRAG</label>
		<div class="texto">
			<p>	Tjänsten hemstädning ingår i skattereduktionen för hushållsnära tjänster så du betalar bara 50% av kostnaden, direkt på fakturan. Läs mer om RUT och RUT-avdrag <a href="https://www.skatteverket.se/privat/skatter/arbeteinkomst/formaner/husarbete.4.18e1b10334ebe8bc80005384.html" target="_blank" rel="external"><strong>skatteverket.se</strong></a></p>
		</div>
	</div>
</section>
<%- include('../../partials/footer'); %>
