<!--PRECIOS SON LOS MISMOS QUE STORSTÄDNING-->

<h2><strong>Pris för fönsterputsning</strong></h2>
<div> För mer information clickla  <a href="javascript:cargaformulario('/ .kontaktaoss')">här</a></div>
<div class="fonsterputsning">
	<span clas="typ">Fönster A</span><br>
   	<span class="price-tax">30 / 60 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/a-115x115.png" title="Ett vanligt fönster, 1 öppning, max 50 cm bred, standard höjd" alt="Typ A" /></div>
    <div class="name"><a href=""></a></div>
</div><div class="fonsterputsning">
	<span clas="typ">Fönster B</span><br>
   	<span class="price-tax">65 / 130 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/b-115x115.png" title="Vanlig fönster, 2 öppningar" alt="Typ B" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster C</span><br>
   	<span class="price-tax">100 / 200 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/c-115x115.png" title="Ett vanligt fönstret med 3 öppningar" alt="Typ C" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster D.1</span><br>
   	<span class="price-tax">50 / 100 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/d-115x115.png" title="Vanligt fönster med 1 öppning" alt="Typ D.1" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster D.2</span><br>
   	<span class="price-tax">50 / 100 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/d2-115x115.png" title="Vanligt fönster, vridbar" alt="Typ D.2" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster D.3</span><br>
   	<span class="price-tax">65 / 130 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/d3-115x115.png" title="Ett vanligt fönster med ett vädringsfönster" alt="Typ D.3" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster E.1</span><br>
   	<span class="price-tax">40 / 80 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/e-115x115.png" title="Inglasad balkongdörr" alt="Typ E.1" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster E.2</span><br>
   	<span class="price-tax">60 / 120 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/e2-115x115.png" title="En balkongdörr med inglasning från golvet och uppåt" alt="Typ E.2" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster F.1</span><br>
   	<span class="price-tax">75 / 150 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/f1-115x115.png" title="Ett slätt fönstret mer än 120 cm bred" alt="Typ F.1" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster F.2</span><br>
   	<span class="price-tax">75 / 150 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/f2-115x115.png" title="Ett slätt fönster mer än 120 cm bred, vridbar" alt="Typ F.2" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster G</span><br>
   	<span class="price-tax">75 / 150 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/g-115x115.png" title="Tackfönster, vridbar" alt="Typ G" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster H.1</span><br>
   	<span class="price-tax">25 / 50 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/h-115x115.png" title="Ett litet fönster, max 50 cm. bred och höjd" alt="Typ H.1" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster H.2</span><br>
   	<span class="price-tax">35 / 70 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/h2-115x115.png" title="Liggande/vågrät fönster" alt="Typ H.2" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster I</span><br>
   	<span class="price-tax">55 / 110 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/i-115x115.png" title="Ett högt fönster (högre än 125 cm) med underfönster" alt="Typ I" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster J</span><br>
   	<span class="price-tax">75 / 150 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/j-115x115.png" title="Fönster med underfönster" alt="Typ J" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster K</span><br>
   	<span class="price-tax">85 / 170 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/k-115x115.png" title="Överfönster, 2 öppningar" alt="Typ K" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster L</span><br>
   	<span class="price-tax">85 / 170 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/l-115x115.png" title="Fönstret med 3 öppningar" alt="Typ L" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster M</span><br>
   	<span class="price-tax">85 / 170 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/m-115x115.png" title="Överfönster, 3 öppningar" alt="Typ M" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster N.1</span><br>
   	<span class="price-tax">40 / 80 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/n1-115x115.png" title="Överfönster, 2 öppningar" alt="Typ N.1" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster N.2</span><br>
   	<span class="price-tax">40 / 80 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/n2-115x115.png" title="Spröjsad fönster, 3 st. spöjs" alt="Typ N.2" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster O</span><br>
   	<span class="price-tax">85 / 170 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/o-115x115.png" title="Överfönster, 4 öppningar" alt="Typ O" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster P.1</span><br>
   	<span class="price-tax">135 / 270 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/p1-115x115.png" title="Överfönster, 6 öppningar, fönster rutan max 60 cm. bred" alt="Typ P.1" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster P.2</span><br>
   	<span class="price-tax">135 / 270 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/p2-115x115.png" title="Överfönster, 4 öppningar" alt="Typ P.2" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster Q.1</span><br>
   	<span class="price-tax">85 / 170 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/q1-115x115.png" title="Överfönster med spröjs över" alt="Typ Q.1" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster Q.2</span><br>
   	<span class="price-tax">85 / 170 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/q2-115x115.png" title="Överfönster med spröjs över" alt="Typ Q.2" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster R-överfönster 20 spröjs</span><br>
   	<span class="price-tax">135 / 270 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/r-115x115.png" title="Överfönster med 20 spröjs övrerallt" alt="Typ A" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster S - 4 spröjs</span><br>
   	<span class="price-tax">85 / 170 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/s-115x115.png" title="Spöjsad fönster 4st" alt="Typ S - 4 spröjs" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster T - 6 spröjs</span><br>
   	<span class="price-tax">85 / 170 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/t-115x115.png" title="Spöjsad fönster 6 st" alt="Typ T - 6 spröjs" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster U - 8 spröjs</span><br>
   	<span class="price-tax">85 / 170 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/u-115x115.png" title="Spöjsad fönster 8 st" alt="Typ U - 8 spröjs" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster V - 12 spröjs</span><br>
   	<span class="price-tax">95 / 190 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/v-115x115.png" title="Spöjsad fönster 12 st" alt="Typ V - 12 spröjs" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster W - 16 spröjs</span><br>
   	<span class="price-tax">125 / 250 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/w-115x115.png" title="Spöjsad fönster 16 st" alt="Typ W - 16 spröjs" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster X - 20 spröjs</span><br>
   	<span class="price-tax">135 / 270 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/x-115x115.png" title="Spöjsad fönster 20 st" alt="Typ X - 20 spröjs" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster Y - 24 spröjs</span><br>
   	<span class="price-tax">150 / 300 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/y-115x115.png" title="Spöjsad fönster 24 st" alt="Typ Y - 24 spröjs" /></div>
    <div class="name"><a href=""></a></div>
</div>
<div class="fonsterputsning">
	<span clas="typ">Fönster Z - 28 spröjs</span><br>
   	<span class="price-tax">165 / 330 : SEK </span>
    <div class="image">
       	<img src="/imagenes/fonsterputsning/z-115x115.png" title="Spöjsad fönster 28 st" alt="Typ Z - 28 spröjs" /></div>
    <div class="name"><a href=""></a></div>
</div>


<p><span class="icon-checkmark"></span> Alla priser är ungefärliga är inklusive moms och efter/före RUT-avdrag.<br><br>
<span class="icon-checkmark"></span> På helgerna tillägg 25% på ordinarie priset.<br><br>
<span class="icon-checkmark"></span> Serviceavgift tillkommer på 35 kr om du väljer pappersfaktura. Om du istället väljer faktura via epost så tillkommer ingen avgift.<br><br><br>