<!--PRECIOS SON LOS MISMOS QUE STORSTÄDNING-->

<h2><strong>Pris för fönsterputsning - företag</strong></h2>

<p>Kontakta oss gärna för en offert eller ett möte om blivande sammarbete!.<br><br>

<span class="icon-checkmark"></span> Städmaterial ingår ej i priset.<br><br>
<span class="icon-checkmark"></span> På helgerna tillägg 25% på ordinarie priset.<br><br>
<span class="icon-checkmark"></span> Serviceavgift tillkommer på 35 kr om du väljer pappersfaktura. Om du istället väljer faktura via epost så tillkommer ingen avgift.<br><br><br>
<div> För mer information clickla  <a href="javascript:cargaformulario('/ .kontaktaoss')">här</a></div></p><br>

