<%- include('../../partials/head'); %>
    <%- include('../../partials/hometitle'); %>
    <%- include('../../partials/navbar'); %>
<article>
    <h1 class="section_title">Storstädning</h1>
</article>

<article class="img-stadning">
	<img src="/imagenes/storstadning.jpg" alt="Inca Städ. Storstädning">
</article>

<article class="columns">
    <p><br>Storstädning är betydligt mer omfattande än hemstädning och vi utför flera extramoment. Fräscha ytor, inget damm ovanpå garderober och ett blänkande rent badrum. Ibland mår hemmet bra av en riktigt grundlig storstädning. Känslan av att komma hem till ett skinande rent och väldoftande hem är oslagbar. En storstädning kan även vara bra innan man startar ett abonnemang med Inca Städ.<br><br>
    
	Storstädning är inget abonnemang och du kan beställa denna tjänst vid enstaka tillfällen.<br><br></p>
    
    <h2><strong>Så fungerar vår storstädning:</strong></h2>

    <p>Vår storstädningstjänst innebär en grundlig rengöring av ditt hem och utförs av våra professionella städare. Innan vi utför en storstädning i ditt hem gör vi alltid ett hembesök hos dig, där vi tillsammans går igenom vad som behövs i just din bostad. Längre ner på  sidan kan du läsa mer om vilka moment som ingår i tjänsten.<br><br>

    Du sörjer för att vi blir insläppta i bostaden. Vi tar med allt material som behövs för storstädningen.<br><br></p>
</article>
<section class="section-acordeon">
    <h2><strong>Detta ingår i storstädning :</strong></h2>
	<div>
		<input id="radio1" type="radio" name="acordeon" value="rum" />
		<label for="radio1">STÄDNING AV SAMTLIGA RUM</label>
		<div class="texto">
			<p> <span class="icon-checkmark"></span> Dammsugning av alla golvytor och mattor.<br>
				<span class="icon-checkmark"></span> Våttorkning av alla golv och golvlister.<br>
				<span class="icon-checkmark"></span> Dammsugning av elkontakter, element.<br>
				<span class="icon-checkmark"></span> Dammsugning av klädda/stoppade möbler.<br>
				<span class="icon-checkmark"></span> Torkning av fläckar på dörrar och karmar.<br>
				<span class="icon-checkmark"></span> Dammtorkning av fönsterbrädor och fria ytor.<br>
				<span class="icon-checkmark"></span> Dammtorkning av lampskärmar i lämplig höjd (bordslampor, läslampor, skrivbordslampor).<br>
				<span class="icon-checkmark"></span> Dammtorkning av tavelramar som går att komma åt utan stege.<br>
				<span class="icon-checkmark"></span> Putsning av speglar.<br>
				<span class="icon-checkmark"></span> Tömning av papperskorgar.<br><br></p>
		</div>
	</div>
	<div>
		<input id="radio2" type="radio" name="acordeon" value="toaletter" />
		<label for="radio2">RENGÖRING AV TOALETTER OCH BADRUM</label>
		<div class="texto">
			<p>	<span class="icon-checkmark"></span> Rengöring av badkar, duschkabin, handfat och toalett.<br>
				<span class="icon-checkmark"></span> Torkning av fläckar från väggar.<br>
				<span class="icon-checkmark"></span> Tvättmaskin, torktumlare och torkskåp rengörs in- och utvändigt.<br>
				<span class="icon-checkmark"></span> Torkning av fläckar på dörrar och badrumsskåp.<br>
				<span class="icon-checkmark"></span> Avkalkning och rengöring av kakel och klinkers.<br>
				<span class="icon-checkmark"></span> Putsning speglar och fönster.<br><br></p>
		</div>
	</div>
	<div>
		<input id="radio3" type="radio" name="acordeon" value="kok" />
		<label for="radio3">STÄDNING AV KÖK</label>
		<div class="texto">
			<p>	<span class="icon-checkmark"></span> Rengöring av spisens framsida och häll.<br>
			<span class="icon-checkmark"></span> Rengöring av ugnsgaller och plåtar.<br>
			<span class="icon-checkmark"></span> Rengöring av ugnslucka med glas.<br>
			<span class="icon-checkmark"></span> Utvändig och invändig rengöring av spisfläkt.<br>
			<span class="icon-checkmark"></span> Torkning av synlig utsida och insidans kant på kyl, frys och diskmaskin.<br>
			<span class="icon-checkmark"></span> In- och utvändig torkning av skåp och lådor.<br>
			<span class="icon-checkmark"></span> Avtorkning av socklar över och under köksskåp.<br>
			<span class="icon-checkmark"></span> Rengöring av handtag.<br>
			<span class="icon-checkmark"></span> Avtorkning av kakel.<br>
			<span class="icon-checkmark"></span> Torkning av diskbänk, diskho och skärbräda.<br>
			<span class="icon-checkmark"></span> Rengöring av öppen yta och dörr till soputrymme.<br>
			<span class="icon-checkmark"></span> Rengöring av mikrovågsugn, in- och utsida.<br><br></p>
		</div>
	</div>
	<div>
		<input id="radio4" type="radio" name="acordeon" value="tankte" />
		<label for="radio4">TÄNK PÅ DETTA INNAN VI BESÖKER DIG</label>
		<div class="texto">
			<p>	<span class="icon-checkmark"></span> Tänk på att vi aldrig drar på soffor/sängar spisar eller andra tunga möbler då det kan skada era ytor.<br>
				<span class="icon-checkmark"></span> För städning bakom spis, kyl eller frys, vänligen dra fram vitvarorna. Detta gäller även soffor och andra tunga möbler.<br> 
				<span class="icon-checkmark"></span> För rengöring under badkar ber vi dig montera av badkorsfronten. Vi rengör inte tv- eller datorskärmar, men rengör resten av apparaterna.<br>
				<span class="icon-checkmark"></span> Filter i köksfläkt byts ut eller diskas i diskmaskin av kund.<br>
				<span class="icon-checkmark"></span> Plocka undan så gott det går ovanpå hyllor och i hyllor samt ovanpå garderober som du vill att vi skall torka av så går städningen snabbare.<br>				
				<span class="icon-checkmark"></span> Om du har beställt fönsterputsning skall eventuella fönsternycklar vara tillgängliga. Putsningen går snabbare om du har plockat undan från fönsterbrädor och tagit ner gardiner och fönsterlampor som kan vara ivägen när vi skall putsa. Vänligen sörj för at det finns tillräckligt med utrymme för att öppna fönstret.<br><br></p>
		</div>
	</div>
	<div>
		<input id="radio5" type="radio" name="acordeon" value="nojdgaranti" />
		<label for="radio5">NÖJD-KUND-GARANTI</label>
		<div class="texto">
			<p>	Nöjda kunder är viktigt för oss och därför anstränger vi oss för att göra ett bra arbete. Vår personal är snabba och effektiva, de vet vad de ska göra.<br><br>
		    Hos oss på Inca Städ har du även 5 dagars Nöjd kundgaranti, som innebär att om du inte blir nöjd så gör vi om städningen.<br><br></p>
		</div>
	</div>
	<div>
		<input id="radio6" type="radio" name="acordeon" value="lagapriser" />
		<label for="radio6">ALLTID LÅGA PRISER</label>
		<div class="texto">
			<p>	Storstädning priser beror på antal kvm. Vi levererar alltid bra kvalitetsstädning, vilket för oss innebär att göra individuella bedömningar för att hitta den mest kostnadseffektiva och bästa lösningen för dig som kund.<br><br></p>
		</div>
	</div>		
	<div>
		<input id="radio7" type="radio" name="acordeon" value="rutavdrag" />
		<label for="radio7">RUT-AVDRAG</label>
		<div class="texto">
			<p>	Tjänsten storstädning ingår i skattereduktionen för hushållsnära tjänster så du betalar bara 50% av kostnaden, direkt på fakturan. Läs mer om RUT och RUT-avdrag <a href="https://www.skatteverket.se/privat/skatter/arbeteinkomst/formaner/husarbete.4.18e1b10334ebe8bc80005384.html" target="_blank" rel="external"><strong>skatteverket.se</strong></a></p>
		</div>
	</div>	
</section>
<%- include('../../partials/footer'); %>
