<%- include('../../partials/head'); %>
<%- include('../../partials/hometitle'); %>
<%- include('../../partials/navbar'); %>
<article>
    <h1 class="section_title">Visningsstädning</h1>
</article>

<article class="img-stadning">
	<img src="/imagenes/visningsstadning.jpg" alt="Inca Städ. Visningsstädning">
</article>

<article class="columns">
    <p><br>Att köpa bostad är bland en av de största investeringen vi gör i livet som privatpersoner. För den potentielle köparen är den första upplevelsen av hens framtida boende avgörande, och därför är det mycket viktigt att allt är rent och fräscht. Visningsstädning gör att du som säljare kan visa ditt hem från dess bästa sida. Detta gör att du som säljare ofta får ett högre pris vid försäljning.<br><br></p>
    
    <h2><strong>Så fungerar vår visningsstädning:</strong></h2>

    <p>	1. Innan städningen: se till att ha plockat undan så mycket som möjligt av de saker som ska vara borta vid visningen.<br><br>

	2. Vi genomför en storstädning med möjlighet att lägga till och dra ifrån moment.<br><br>

	3. Städmaterial och utrustning ingår i städtjänsten.<br><br>

	4. Fönsterputsning INGÅR i priset.<br><br>

	5. städning av biytor som balkong, altan, utsida av fönsterbleck, förråd, tvättstuga och garage kan du beställa detta separa.<br><br>

	6. Faktura med 10 dagars betalningsvillkor som betalas när kunden godkänt städningen.<br><br></p>
</article>
<section class="section-acordeon">
    <h2><strong>Detta ingår i visningsstädning :</strong></h2>
	<div>
		<input id="radio1" type="radio" name="acordeon" value="rum" />
		<label for="radio1">STÄDNING AV SAMTLIGA RUM</label>
		<div class="texto">
			<p> <span class="icon-checkmark"></span> Spegelputsning<br>
				<span class="icon-checkmark"></span> Dammsugning av golv, lister, kontakter, element, mattor samt stoppade och klädda möbler.<br>
				<span class="icon-checkmark"></span> Dammtorkning av fönsterbrädor och alla fria ytor.<br>
				<span class="icon-checkmark"></span> Borttagning av fläckar på dörrar och karmar.<br>
				<span class="icon-checkmark"></span> Golven fuktmoppas, eller enligt överenskommelse med er.<br>
				<span class="icon-checkmark"></span> Tömning av papperskorgar.<br>
				<span class="icon-checkmark"></span> Tavelramar och hängande väggdekorationer i ståhöjd dammas av.<br>
				<span class="icon-checkmark"></span> Lampskärmar i arbetshöjd dammas av.<br><br></p>
		</div>
	</div>
	<div>
		<input id="radio2" type="radio" name="acordeon" value="toaletter" />
		<label for="radio2">RENGÖRING AV TOALETTER OCH BADRUM</label>
		<div class="texto">
			<p>	<span class="icon-checkmark"></span> Spegelputsning<br>
				<span class="icon-checkmark"></span> Torkning av fläckar på badrumsskåp och vitvaror.<br>
				<span class="icon-checkmark"></span> Dusch, badkar, handfat och toalett rengöres.<br>
				<span class="icon-checkmark"></span> Torkning av fläckar från väggar.<br>
				<span class="icon-checkmark"></span> Duschväggar avtorkas.<br><br></p>
		</div>
	</div>
	<div>
		<input id="radio3" type="radio" name="acordeon" value="kok" />
		<label for="radio3">STÄDNING AV KÖK</label>
		<div class="texto">
			<p>	<span class="icon-checkmark"></span> Invändig rengöring av microvågsugn.<br>
				<span class="icon-checkmark"></span> In- och utvändig rengöring av utrymme där sopor förvaras.<br>
				<span class="icon-checkmark"></span> Köksbänk, diskbänk, spis och kakelvägg rengörs.<br>
				<span class="icon-checkmark"></span> Avtorkning av fläckar på fläkt, köksluckor och utsidan av vitvaror.<br><br></p>
		</div>
	</div>
	<div>
		<input id="radio4" type="radio" name="acordeon" value="fonster" />
		<label for="radio4">FÖNSTER</label>
		<div class="texto">
			<p>	<span class="icon-checkmark"></span> Putsning av fönster, samtliga sidor, 4 eller 6 sidor.<br>
				<span class="icon-checkmark"></span> Rengöring av fönsterkarmar.<br>
				<span class="icon-checkmark"></span> Avtorkning av fönsterbrädor.<br>
				<span class="icon-checkmark"></span> Fönster som ej går att öppna tvättas ej mellan, endast in och utsida utförs då.<br><br></p>
		</div>
	</div>	
	<div>
		<input id="radio5" type="radio" name="acordeon" value="tankte" />
		<label for="radio5">TÄNK PÅ DETTA INNAN VI BESÖKER DIG</label>
		<div class="texto">
			<p>	<span class="icon-checkmark"></span> För bästa resultat ber vi dig att plocka undan så mycket saker som möjligt.<br>
				<span class="icon-checkmark"></span> Se också till att arbetsbänk och diskabänk är fria så att de går att rengöra.<br>
				<span class="icon-checkmark"></span> Plocka undan saker som kan vara i vägen för fönsterputsning, t ex gardiner, blomkrukor eller prydnadsföremål.<br>
				<span class="icon-checkmark"></span> Vid större förremål t ex soffa, så kan det vara bra om ni skyddar denna med plast eller tidningar.<br>
				<span class="icon-checkmark"></span> Fönstret måste vara tillgängligt för fönsterputsaren, detta innebär att större möbler måste flyttas eller motsvarande om de är i vägen innan fönsterputsaren kommer.<br>
				<span class="icon-checkmark"></span> Alla dörrar/rum som det gäller ska vara upplåsta så personalen som utför arbetet inte skall behöva springa och leta efter personer som kan öppna.<br>
				<span class="icon-checkmark"></span> Befintliga skador måste rapporteras innan städningen påbörjas.<br><br></p>
		</div>
	</div>
	<div>
		<input id="radio6" type="radio" name="acordeon" value="nojdgaranti" />
		<label for="radio6">NÖJD-KUND-GARANTI</label>
		<div class="texto">
			<p>	 Nöjda kunder är viktigt för oss och därför anstränger vi oss för att göra ett bra arbete. Vår personal är snabba och effektiva, de vet vad de ska göra.<br><br>
		    Hos oss på Inca Städ har du även 5 dagars Nöjd kundgaranti, som innebär att om du inte blir nöjd så gör vi om städningen.<br><br></p>
		</div>
	</div>
	<div>
		<input id="radio7" type="radio" name="acordeon" value="lagapriser" />
		<label for="radio7">ALLTID LÅGA PRISER</label>
		<div class="texto">
			<p>	Visningsstädning priser beror på antal kvm. Vi levererar alltid bra kvalitetsstädning, vilket för oss innebär att göra individuella bedömningar för att hitta den mest kostnadseffektiva och bästa lösningen för dig som kund.<br><br></p>
		</div>
	</div>	
	<div>
		<input id="radio8" type="radio" name="acordeon" value="rutavdrag" />
		<label for="radio8">RUT-AVDRAG</label>
		<div class="texto">
			<p>	Tjänsten visningsstädning ingår i skattereduktionen för hushållsnära tjänster så du betalar bara 50% av kostnaden, direkt på fakturan. Läs mer om RUT och RUT-avdrag <a href="https://www.skatteverket.se/privat/skatter/arbeteinkomst/formaner/husarbete.4.18e1b10334ebe8bc80005384.html" target="_blank" rel="external"><strong>skatteverket.se</strong></a></p>
		</div>
	</div>
</section>
<%- include('../../partials/footer'); %>
