@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?75t1ns');
	src:url('fonts/icomoon.eot?#iefix75t1ns') format('embedded-opentype'),
		url('fonts/icomoon.woff?75t1ns') format('woff'),
		url('fonts/icomoon.ttf?75t1ns') format('truetype'),
		url('fonts/icomoon.svg?75t1ns#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-office:before {
	content: "\e903";
}

.icon-quill:before {
	content: "\e907";
}

.icon-paint-format:before {
	content: "\e90c";
}

.icon-printer:before {
	content: "\e954";
}

.icon-hammer:before {
	content: "\e996";
}

.icon-gift:before {
	content: "\e99f";
}

.icon-truck:before {
	content: "\e9b0";
}

.icon-checkmark:before {
	content: "\ea10";
}

.icon-insert-template:before {
	content: "\ea72";
}

.icon-airplanemode-on:before {
	content: "\e604";
}

.icon-mail:before {
	content: "\e600";
}

.icon-pencil:before {
	content: "\e601";
}

.icon-vcard:before {
	content: "\e602";
}

.icon-cart:before {
	content: "\e603";
}

.icon-list:before {
	content: "\e606";
}

.icon-phone2:before {
	content: "\e634";
}

.icon-user3:before {
	content: "\e641";
}

.icon-house:before {
	content: "\e656";
}

.icon-suitcase:before {
	content: "\e686";
}

.icon-play:before {
	content: "\e6df";
}

.icon-pause:before {
	content: "\e6e0";
}

.icon-arrow-left5:before {
	content: "\e701";
}

.icon-arrow-right5:before {
	content: "\e704";
}

.icon-arrow-down6:before {
	content: "\e706";
}

.icon-twitter2:before {
	content: "\e729";
}

.icon-facebook3:before {
	content: "\e72c";
}

