<%- include('../partials/head'); %>
<header>
    <section class="error-404">
        <article class="img-404">
            <img src="/imagenes/404.jpg" alt="404 Message page not found">
        </article>
        <article class="view-404txt">
            <h1>Page Not Found</h1>
            <p class="message">Sorry the page you were looking for does not exist or is not available.</p>
            <a href="/" type="btn" class="btn btn-outline-success">Go To Home</a>
        </article>
    </section>
    <%- include('../partials/footer'); %>
</header>
</body>
</html>